apiVersion: v1
kind: ConfigMap
metadata:
  name: social-media-config
  namespace: social-media
data:
  DB_HOST: "mysql-service"
  DB_PORT: "3306"
  DB_NAME: "social_media_db"
  PORT: "5000"
  REACT_APP_API_URL: "http://backend-service:5000/api"

